{% extends 'base.html.twig' %}

{% block title %}Post post.name{% endblock %}

{% block content %}
    <h1>{{ post.name }}</h1>
    <p>{{ post.description }}</p>
    <div>
        <img class="post-image" src="{{ post.file_path }}" />
    </div>
    <div class="comment-block">

    </div>
{% endblock %}